* {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

main > div:nth-child(2) {
  width: 30%;
}

.card {
  min-width: 200px;
  max-width: 250px;
  background-color: beige;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  border: 1px solid black;
  border-radius: 5px ;
}

.card:hover{
  opacity: 90%;
}

.card img {
  width: 200px;
  height: 200px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-top: none;
  border-right: none;
  height: 500px;
}

.column img{
  width: 150px;
  margin-left: 1rem;
}

.risultati p {
  margin: 1rem 0 0 1rem;
}

.bold{
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
